@page "/"
@using SantasList.Web.Models
@rendermode InteractiveServer

<PageTitle>Santa&apos;s List</PageTitle>

<div class="position-absolute top-50 start-50 translate-middle">
    <FluentButton Appearance="Appearance.Accent" >Get Started</FluentButton>
</div>

@code {

}
